<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
          <input
            type="text"
            type="hidden"
            name="_id"
            [(ngModel)]="employeeService.selectedEmployee._id"
          />
          <div class="form-group">
            <input
              name="name"
              type="text"
              class="form-control"
              placeholder="Enter your Name "
              [(ngModel)]="employeeService.selectedEmployee.name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="position"
              class="form-control"
              placeholder="Enter your Position "
              [(ngModel)]="employeeService.selectedEmployee.position"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="office"
              class="form-control"
              placeholder="Enter your Office "
              [(ngModel)]="employeeService.selectedEmployee.office"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              name="salary"
              class="form-control"
              placeholder="Enter your Salary "
              [(ngModel)]="employeeService.selectedEmployee.salary"
            />
          </div>
          <br />
          <button class="btn btn-primary" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeService.employees">
          <td>
            {{ employee.name }}
          </td>
          <td>
            {{ employee.position }}
          </td>
          <td>
            {{ employee.office }}
          </td>
          <td>
            {{ employee.salary }}
          </td>
          <td>
            <button class="btn btn-secondary" (click)="editEmployee(employee)">
              Edit
            </button>
            <button
              class="btn btn-danger"
              (click)="deleteEmployee(employee._id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
